CRYPTO_SECRET=change_me
MONGODB_USERS_CONVERSATIONS=mongodb+srv://user:pass@host/db_conversations
MONGODB_USERS_URI=mongodb+srv://user:pass@host/db_users
MONGO_SESSIONS_URI=mongodb+srv://user:pass@host/db_sessions
PROTOCOL=HTTP
SESSION_SECRET=change_me
