CRYPTO_SECRET=test_crypto_secret
SESSION_SECRET=test_session_secret
MONGODB_USERS_URI=mongodb://localhost:27017/chatapp_users_test
MONGODB_USERS_CONVERSATIONS=mongodb://localhost:27017/chatapp_conversations_test
MONGO_SESSIONS_URI=mongodb://localhost:27017/chatapp_sessions_test
PROTOCOL=HTTP
