html,body {
    height: 100%;
}

.mainContainer {
    height: 100%;
}

.app-container {
    background: rgb(255, 255, 255);
    display: table;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
}

.column {
    display: table-cell;
}

.left {
    position: relative;
    vertical-align: top;
    width: 30%;
    background: rgb(255, 255, 255);
}

.app-container .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
  }

.right {
    background: rgb(248, 248, 248);
}

.active-conversation-text {
    text-align: center;
    background-color: rgb(236, 236, 236);
}

.active-conversation {
    background-color: rgb(159, 238, 208) !important;
}

.messages {
    height: 300px;
}

.message {
    padding-top: 10px;
    padding-left: 10px;
}

.conversations {
    display: inline;
}

.conversation {
    border: 1px solid rgb(48, 140, 143);
    background-color: whitesmoke;
    padding-top: 1px;
    padding: 7px;
    cursor: pointer;
}

.messages {
    overflow-y: auto;
    overflow-x: hidden;
}

.createNewConversaionForm {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input-group {
    display: table;
    width: 100%;
}

.input-group>* {
    display: table-cell;
}

.input-group-field {
    width: 100%;
}

.message-form input[type="submit"] {
    width: 100%;
    background: #f8f8f8;
    padding: 0 20px;
    border: none;
}

.message-form input[type="submit"]:hover {
    color: #24b3a0;
}

.message-form input[type="text"] {
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: white;
    background: #000000;
}